.list-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.items-box {
  display: flex;
}

.item-box {
  flex: 0 0 auto;
  width: 250px;
  /* Đặt chiều rộng của mỗi item tại đây */
  height: 450px;
  /* Đặt chiều cao của mỗi item tại đây */
  border: 1px solid #907163;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 20px;
  position: relative;

  .item-content {
    display: flex;
    flex-direction: column;

    .movieName {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      max-width: 200px;
    }
  }

  .buttonInfor {
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px #917164 solid;
  }

  .buttonInfor:hover {
    background-color: #917164;
  }

  .buttonBooking {
    background-color: #917164;
    padding: 8px;
    border-radius: 10px;
    color: #fff;
  }

  .btn-container {
    margin-top: 10px;
  }
}

.item.active {
  opacity: 1;
}

.prev,
.next {
  padding: 20px;
  background-color: rgba(199, 73, 58, 0);
  /* Đặt màu nền trong suốt */
  border: none;
  cursor: pointer;
  color: #ad8174;
  /* Đặt màu chữ */
  font-size: 50px;
}

.prev:hover,
.next:hover {
  background-color: rgba(199, 73, 58, 0.5);
  box-shadow: #907163;
}

.movie-img {
  width: 200px;
  border-radius: 10px;
  width: 210px;
  height: 280px;
  display: block;
  margin: auto
}

.custom-modal {
  background-color: #111;
}

.modal-info {
  display: flex;

  .information {
    margin-left: 30px;
  }
}

.trailer {
  position: absolute;
  /* bottom: 15px;
      right: 15px; */
  width: 100%;
  /* Điều chỉnh kích thước của container tùy thuộc vào nhu cầu của bạn */
  height: 100%;
  /* Tính toán chiều cao dựa trên tỉ lệ 16:9 */
  z-index: 1000;
  /* Đặt z-index âm để đảm bảo nằm dưới modal */
}

.trailer iframe {
  width: 97%;
  height: 95%;
}

.trailer-hover {
  width: 85%;
  height: 63%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(23, 22, 22, 0.6);
  position: absolute;
  border-radius: 10px;
  top: 37.5%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}